/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/11/2018, 11:46:48 PM
    Author     : jlemusus
*/

.navbar.navbar-default {
    width: 83.33333333%;
    margin: 0 0 0 calc(100% - 83.33333333%);
}

/*
    MENU
*/

.container-fluid > .row > .col-lg-2 {
    position: fixed;
    height: 100vh;
    top: 0;
    background-color: #263238;
    color: #ffffff;
    padding-bottom: 15px;
}

.container-fluid > .row > .col-lg-2 > .header-menu {
    margin: -15px;
    background-color: #455A64;
    padding: 16px 15px 2px 15px;
    margin-bottom: 5px;
}

.container-fluid > .row > .col-lg-2 > .header-menu > * {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 11px;
    text-align: center;
}

.container-fluid > .row > .col-lg-2 a {
    color: #ffffff;
}

.container-fluid > .row > .col-lg-2 ol, ul, li {
    list-style-type: none;
}

.container-fluid > .row > .col-lg-2 ol li {
    font-size: 1.6rem
}

.container-fluid > .row > .col-lg-2 .menu-header-group {
    width: 100%;
    display: block;
    padding: 7px 15px;
    border-radius: 4px;
    background-color: #37474F;
    margin: 20px 0 15px 0;
    color: #80CBC4 !important;
}

.container-fluid > .row > .col-lg-2 .menu-group {
    padding-left: 15px;
}

.container-fluid > .row > .col-lg-2 .menu-group > li {
    padding: 4px 15px;
}

.container-fluid > .row > .col-lg-2 .menu-group > li > a {
    text-decoration: none;
}

.container-fluid > .row > .col-lg-2 .menu-group > li:hover {
    cursor: pointer;
    background-color: #455A64;
    border-radius: 4px;
}

/*
    CONTENEDOR PRINCIPAL
*/

.container-fluid > .row > .col-lg-9, .col-lg-10 {
    margin-left: 227.66px;
    padding-left: 30px;
}

.btn-nuevo-registro {
    position: fixed;
    right: 30px;
    font-size: 2.5rem;
    bottom: 15px;
    border-radius: 100px;
    height: 5rem;
    background-color: #5cb85c !important;
    width: 5rem;
    line-height: 40px;
    color: #ffffff;
}

.btn-nuevo-registro:hover {
    color: #ffffff;
}    

/*
    USUARIOS
    - REGISTRO
*/

.content-img-registrar-usuario {
    position: relative;
}

.content-img-registrar-usuario .img-registrar-usuario {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 100px;
    background: url("../imagenes_cargadas/usuario/avatar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    opacity: 1;
}

.content-img-registrar-usuario .img-registrar-usuario + input[type="file"] {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    left: calc((100% - 100px) / 2);
    top: 0;
    z-index: 9;
    opacity: 0;
}

.content-img-registrar-usuario .img-registrar-usuario + input[type="file"] + .fas {
    z-index: 5;
    position: absolute;
    top: calc((100px - 50px) / 2);
    width: 50px;
    height: 50px;
    left: calc((100% - 60px) / 2);
    font-size: 5rem;
    opacity: 0;
}

.content-img-registrar-usuario:hover .img-registrar-usuario {
    opacity: .8;
}

.content-img-registrar-usuario:hover .img-registrar-usuario + input[type="file"] + .fas {
    opacity: 1;
}
